/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
@font-face{
  font-family:stolzl;
  src: url(Stolzl_Display.otf);
}

@font-face{
  font-family:helvetica;
  src: url(HelveticaNeue.otf);
}



p, a {
  max-width: 50rem;
}
 
body {
  font-family: sans-serif;
  padding: 2rem;
}

.element {
  padding-bottom: .5rem;
  border-top-width: 0.05rem;
  border-top-style: solid;
  border-top-color: grey;
}

.fontchoices{
font-family: helvetica;
}

.fontchoicessec{
  font-family: stolzl;
}

h2 {
  margin-top: 6rem;
}

h3 {
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.25rem;
}

p {
  margin-top: 0;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

#textintro{
  font-size:4rem;
  max-width:70rem;
  color:#00ff00;
  letter-spacing: .2rem;
  /*font-weight: bold;*/
}
/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50,50,50);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  background-color: rgb(200,200,200);
}



#buttonnav {
  display: inline-block;
  padding:0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #222423;
  background-color: #FFFFFF;
  border-radius:25px;
  border:1px solid #222423;
  text-decoration: none;
  transition-property: background-color;
  transition-duration:0.4s;
}

#buttonnav:hover, #buttonnav:focus {
  background-color: #222423;
  color: white;
  /* transform:rotate(-5deg); */

}

/*
  TEXT ELEMENTS -------------------
*/
#intext{
  text-decoration: none;
  padding:0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: black;
background-color: #00FF00;
cursor:pointer;
}

#intext:hover{
  color:white;
}



/*
  COMBINED ELEMENTS -------------------
*/
.topnav{
  overflow:hidden;
  background-color: #222423;
}

.topnav a{
  display:block;
  float:left;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: .6rem .8rem;
  font-size:20px;
}

.topnav a:hover{
  text-decoration: underline;
}


/*
  STYLEGUIDE INSPIRATIONS -------------------
*/
#color{
  width:300px;
  height:150px;
}

.white{
  background-color: #FFFFFF;
}
.green{
  background-color: #00FF00;
}
.black{
  background-color: #222423;
}
